
<div class="panel-heading">
  <h3>
    <% if @user.admin? %>
      <small><span class="glyphicon glyphicon-ok-sign" title="Verified" id="verified" style="color: #428bca;"></span></small>
    <% end %>
    <% if @user.name %>
      <%= @user.name %>
    <% end %>
    <small><%= @user.email %></small>
  </h3>
</div>
<hr />
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag(@user.picture.url(:thumb)) %>
    </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <h3>Teaching</h3>
        <% @courses_as_teacher.each do |course| %>
          <h4><%= link_to course.name, course %></h4>
          <p><%= course.date %>, <%= course.location %></p>
        <% end %>
      </div>
      <div class="col-md-4">
        <h3>Enrolled in</h3>
        <% @user.courses.each do |course| %>
          <h4><%= link_to course.name, course %></h4>
          <p><%= course.date %>, <%= course.location %></p>
        <% end %>
      </div>
      <div class="col-md-4">
        <h3>Requests</h3>
        <% @requests.each do |request| %>
          <h4><%= request.tags.map(&:label).join(', ') %> in <%= request.location %></h4>
        <% end %>
      </div>
  </div>
</div>
