<%= form_for @course, :html => {:multipart => true} do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :tags %><br>
    <%= f.text_field :tags, value: @course.tags.map(&:label).join(', '), class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :picture %><br>
    <%= f.file_field :picture %>
  </div>
  <div class="actions">
    <% if current_user.admin? and !@course.approved? %>
      <%= f.submit value: 'Update and approve', class: "btn btn-success" %>
    <% else %>
      <%= f.submit value: 'Update', class: "btn btn-success" %>
    <% end %>
  </div>
<% end %>
