<%= form_tag '/', method: :get, :class => 'navbar-form text-center',
    :role => 'search', :id => 'search-form', :name => 'search-form'  do %>
  <div class="input-group input-group-lg">
    <%= text_field_tag :query, params[:query], :class => 'form-control', :style => 'width: 600px', :placeholder => 'What do you want to learn about?' %>
    <div class="input-group-btn">
      <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>
  </div>
<% end %>

<% @courses.each_slice(3) do |courses_row| %>
  <!-- Example row of columns -->
  <div class="row">
    <% courses_row.each do |course| %>
      <div class="col-md-4">
        <h2><%= link_to course.name, course %></h2>
        <%= image_tag(course.picture.url(:thumb)) %>
        <p><%= course.description %></p>
        <p><%= course.date %>, <%= course.location %></p>
      </div>
    <% end %>
  </div>
<% end %>
