<%= form_tag '/', method: :get do %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search" %>
<% end %>

<% @courses.each_slice(3) do |courses_row| %>
  <!-- Example row of columns -->
  <div class="row">
    <% courses_row.each do |course| %>
      <div class="col-md-4">
        <h2><%= course.name %></h2>
        <%= image_tag(course.picture.url(:thumb)) %>
        <p><%= course.description %></p>
        <p><%= course.date %>, <%= course.location %></p>
        <p><%= link_to 'Show', course, :class => "btn btn-default" %></p>
      </div>
    <% end %>
  </div>
<% end %>
