<div style="padding-top: 50px;">
  <%= form_tag '/', method: :get, :class => 'navbar-form text-center',
      :role => 'search', :id => 'search-form', :name => 'search-form'  do %>
    <div class="input-group input-group-lg">
      <%= text_field_tag :query, params[:query], :class => 'typeahead tt-query', :style => 'width: 600px', :placeholder => 'What do you want to learn about?', :autocomplete => "off",  :spellcheck => false, :autofocus => true %>
      <%= submit_tag 'Save', :style => "visibility:hidden;" %>
      <ul class="typeahead typeahead-long dropdown-menu" style="top: 497px; left: 410px; display: none;"></ul>
    </div>
  <% end %>
</div>
<div style="margin-top: 50px;">
  <% @courses.each_slice(3) do |courses_row| %>
    <!-- Example row of columns -->
    <div class="row">
      <% courses_row.each do |course| %>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= link_to course.name, course %></h3>
            </div>
            <div class="panel-body">
              <div class="thumbnail">
                <% if course.picture.present? %>
                  <%= image_tag(course.picture.url(:thumb)) %>
                <% else %>
                  <%= holder_tag '320x240' %>
                <% end %>
              </div>
              <p><%= truncate course.description, length: 500 %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<script>
var $vartypeahead = $("#query");
var engine = new Bloodhound({
  name: 'typeaheads',
  remote: {"url":"/courses/autocomplete?query=%QUERY"},
  datumTokenizer: function(d) { return d;},
  queryTokenizer: function(d) { return d;}
});
engine.initialize();

$vartypeahead.typeahead(
  {"highlight": true },
  {"source": engine.ttAdapter()});
</script>
