<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Crashcourse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style>
    html, body {
        height: 100%;
    }
    .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -63px;
    }
    .push {
        height: 63px;
    }
    /* not required for sticky footer; just pushes hero down a bit */
    .wrapper > .container {
    }
  </style>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Courses</a>
        </div>
        <div class="navbar-header">
          <a class="navbar-brand" href="/requests">Requests</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li>
            <%= link_to 'My Calendar', calendar_path %>
          </li>
          <li>
            <%= link_to 'New Course', new_course_path %>
          </li>
          <li>
            <%= link_to 'New Request', new_request_path %>
          </li>
          <li>
            <%= link_to "Howdy, #{current_user.first_name}", current_user %>
          </li>
          <li>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
          </li>
          <% else %>
            <li>
              <%= link_to 'Sign In', new_user_session_path %>
            </li>
            <li>
              <%= link_to 'Sign Up', new_user_registration_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="wrapper">
      <div class="container" style="padding-top: 50px;">
        <%= yield %>
      </div> <!-- /container -->
      <div class="push"><!--//--></div>
    </div>
    <hr>

    <footer>
      <div class="container">
        <p>&copy; Some rights reserved 2014</p>
      </div>
    </footer>
</body>
</html>
